<section class="section-4">
  <div class="contact-container">
    <div class="contact-left">
      <div class="contact">
        <span>Əlaqə</span>
      </div>
      <div class="get-in-touch">
        <span>Bizimlə əlaqə saxla</span>
      </div>
      <div class="contact-form">
        <form action="/aze/success" method="post">
          <input
            type="text"
            name="fname"
            placeholder="Ad"
            class="form-item"
            required
          />
          <input
            type="text"
            name="lname"
            placeholder="Soyad"
            class="form-item"
            required
          />
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="form-item"
            required
          />
          <input
            type="tel"
            name="phone"
            placeholder="Telefon (0555555555)"
            class="form-item"
          />
          <textarea
            name="message"
            cols="30"
            rows="8"
            placeholder="Mesaj"
            required
          ></textarea>
          <button type="submit" class="form-button">Göndər</button>
        </form>
      </div>
    </div>
    <div class="contact-right">
      <div>ECOVIS Azərbaycam</div>
      <div>Apakidze str. 11</div>
      <div>AF Bussiness Tower, 11-ci mərtəbə Bakı</div>
      <br />
      <a href="tel:+994517609602">+994 xxx xx xx</a>
      <a href="mailto:baku@ecovis.az">baku@ecovis.az</a>
      <div>İş saatları:</div>
      <div>Local time</div>
      <div>Bazar ertəsi - Cümə: 10:00 - 19:00</div>
      <br />
      <div>UTC +4</div>
      <div>(CEST) CEST: Central European Summer Time</div>
    </div>
  </div>
</section>
