<%-include("partials/header" , {title: title});-%>
    <title>Ecovis | İşçilər</title>
  </head>
<%-include("partials/navbar");-%>

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<%-include("partials/footer");-%>