<section class="section-2" id="section-2">
  <div class="container-2">
    <ul class="s2-items">
      <li class="s2-item" id="section-2-item-1">
        <div class="s2-img">
          <img src="../images/1.png" alt="s2-img-1" />
        </div>
        <div class="s2-content">
          <div class="s2-header">Lorem ipsum dolor sit amet.</div>
          <div class="s2-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Praesentium, quia temporibus distinctio aut necessitatibus magnam
            accusamus sint consequuntur minus? Animi rem, porro temporibus
            voluptatem architecto consectetur vel ipsam mollitia, accusantium
            repudiandae rerum! Aliquid at vero odio nam, voluptates recusandae
            neque!
          </div>
          <div class="s2-buttons">
            <a href="#" class="button-1">Read more</a>
            <a href="#" class="button-2">Planning a consultation</a>
          </div>
        </div>
      </li>
      <li class="s2-item hidden" id="section-2-item-2">
        <div class="s2-img">
          <img src="../images/2.png" alt="" />
        </div>
        <div class="s2-content">
          <div class="s2-header">Lorem ipsum dolor sit amet.</div>
          <div class="s2-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            natus temporibus a excepturi voluptatum atque, architecto
            perferendis minima omnis, laborum, dicta et libero molestiae eius
            doloremque quasi corporis sequi ullam totam quae fugit autem!
            Commodi inventore provident vitae magnam aliquam dolore tempore,
            quis optio hic, dolores, error dolorem! Aliquid, recusandae.
          </div>
          <div class="s2-buttons">
            <a href="#" class="button-1">Read more</a>
            <a href="#" class="button-2">Planning a consultation</a>
          </div>
        </div>
      </li>
      <li class="s2-item hidden" id="section-2-item-3">
        <div class="s2-img">
          <img src="../images/3.png" alt="" />
        </div>
        <div class="s2-content">
          <div class="s2-header">Lorem ipsum dolor sit amet.</div>
          <div class="s2-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
            facere, tempore officia fugiat laborum sed maiores vitae,
            repellendus assumenda eaque qui eligendi odio asperiores perferendis
            repudiandae voluptates beatae accusantium! Necessitatibus recusandae
            voluptatum sed provident perferendis illo vitae eveniet, doloribus
            vel mollitia velit iste eum quam possimus error fugiat aliquam
            tempora!
          </div>
          <div class="s2-buttons">
            <a href="#" class="button-1">Read more</a>
            <a href="#" class="button-2">Planning a consultation</a>
          </div>
        </div>
      </li>
      <li class="s2-item hidden" id="section-2-item-4">
        <div class="s2-img">
          <img src="../images/4.png" alt="" />
        </div>
        <div class="s2-content">
          <div class="s2-header">Lorem ipsum dolor sit amet.</div>
          <div class="s2-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
            quam reprehenderit vel, tenetur eveniet dolore perferendis
            cupiditate, delectus commodi architecto esse repellat unde ab quia
            doloribus beatae. Blanditiis aliquam aut ipsam fugit, consectetur,
            totam doloremque nobis est soluta maiores voluptatibus ea porro
            illum earum qui deleniti cum iure eius officiis.
          </div>
          <div class="s2-buttons">
            <a href="#" class="button-1">Read more</a>
            <a href="#" class="button-2">Planning a consultation</a>
          </div>
        </div>
      </li>
      <li class="s2-item hidden" id="section-2-item-5">
        <div class="s2-img">
          <img src="../images/5.png" alt="" />
        </div>
        <div class="s2-content">
          <div class="s2-header">Lorem ipsum dolor sit amet.</div>
          <div class="s2-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
            dignissimos, delectus debitis quibusdam enim ab rerum cumque?
            Doloribus, sed, non incidunt, tenetur quaerat ducimus ex eligendi
            amet iusto nemo voluptatem ab corporis saepe pariatur fuga eos vero?
            Ab dignissimos soluta perferendis? Autem blanditiis ex cupiditate,
            explicabo similique necessitatibus dolor ipsa!
          </div>
          <div class="s2-buttons">
            <a href="#" class="button-1">Read more</a>
            <a href="#" class="button-2">Planning a consultation</a>
          </div>
        </div>
      </li>
      <li class="s2-item hidden" id="section-2-item-6">
        <div class="s2-img">
          <img src="../images/6.png" alt="" />
        </div>
        <div class="s2-content">
          <div class="s2-header">Lorem ipsum dolor sit amet.</div>
          <div class="s2-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, ea
            reiciendis suscipit deserunt assumenda aliquid necessitatibus
            aliquam nam aspernatur soluta, quia laboriosam! Rem, iure. Illo
            commodi hic saepe labore quas et vero, illum corrupti quos quo eum
            nulla necessitatibus qui ducimus quisquam fugit eaque voluptatum
            nisi. Dolorum nobis quis optio.
          </div>
          <div class="s2-buttons">
            <a href="#" class="button-1">Read more</a>
            <a href="#" class="button-2">Planning a consultation</a>
          </div>
        </div>
      </li>
      <li class="s2-item hidden" id="section-2-item-7">
        <div class="s2-img">
          <img src="../images/7.png" alt="" />
        </div>
        <div class="s2-content">
          <div class="s2-header">Lorem ipsum dolor sit amet.</div>
          <div class="s2-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            aliquam fuga asperiores nemo beatae culpa odio veritatis soluta non,
            dignissimos dicta. Quod ad repellat sunt illo amet, distinctio iste!
            Necessitatibus, recusandae, laboriosam architecto fugiat similique
            aperiam consectetur exercitationem deserunt dolores, mollitia omnis!
            Animi dolorum incidunt eligendi laboriosam eveniet, rem dolorem.
          </div>
          <div class="s2-buttons">
            <a href="#" class="button-1">Read more</a>
            <a href="#" class="button-2">Planning a consultation</a>
          </div>
        </div>
      </li>
      <li class="s2-item hidden" id="section-2-item-8">
        <div class="s2-img">
          <img src="../images/8.png" alt="" />
        </div>
        <div class="s2-content">
          <div class="s2-header">Lorem ipsum dolor sit amet.</div>
          <div class="s2-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
            doloremque, ratione, ipsa sit, sunt reiciendis nostrum aliquam autem
            dolor omnis id maxime! Modi possimus unde totam at asperiores
            corporis labore est, iusto recusandae quis alias doloribus eius odio
            ut placeat ea quidem, cum consectetur? Quod nisi quas reiciendis
            eius laudantium.
          </div>
          <div class="s2-buttons">
            <a href="#" class="button-1">Read more</a>
            <a href="#" class="button-2">Planning a consultation</a>
          </div>
        </div>
      </li>
      <li class="s2-item hidden" id="section-2-item-9">
        <div class="s2-img">
          <img src="../images/9.png" alt="" />
        </div>
        <div class="s2-content">
          <div class="s2-header">Lorem ipsum dolor sit amet.</div>
          <div class="s2-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Recusandae, vero! Placeat ipsa sed doloremque. Repellendus, quas
            veniam, error tenetur atque animi velit aliquid sint similique
            consequatur recusandae assumenda tempore illum voluptatum tempora
            laboriosam id voluptatibus. Id maxime ducimus non dolore unde nulla
            expedita minima, ex voluptatibus, qui autem soluta officia!
          </div>
          <div class="s2-buttons">
            <a href="#" class="button-1">Read more</a>
            <a href="#" class="button-2">Planning a consultation</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
