<section class="section-1">
  <div class="container-1">
    <div class="s1-header">
      <h1>Başlıq</h1>
    </div>
    <div class="s1-title">
      <h1>paraqraf</h1>
    </div>
    <ul class="sub-sections">
      <li
        class="sub-section-item active"
        id="section-1-item-1"
        onclick="showItem(1)"
      >
        <a href="#section-2">
          <img
            src="../images/ecovis_logo_white.svg"
            alt="ecovis-logo"
            class="item-logo"
          />

          <div class="item-content active">
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </a>
      </li>
      <li class="sub-section-item" id="section-1-item-2" onclick="showItem(2)">
        <a href="#section-2">
          <img
            src="../images/ecovis_logo.svg"
            alt="ecovis-logo"
            class="item-logo"
          />

          <div class="item-content">
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </a>
      </li>
      <li class="sub-section-item" id="section-1-item-3" onclick="showItem(3)">
        <a href="#section-2">
          <img
            src="../images/ecovis_logo.svg"
            alt="ecovis-logo"
            class="item-logo"
          />

          <div class="item-content">
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </a>
      </li>
      <li class="sub-section-item" id="section-1-item-4" onclick="showItem(4)">
        <a href="#section-2">
          <img
            src="../images/ecovis_logo.svg"
            alt="ecovis-logo"
            class="item-logo"
          />

          <div class="item-content">
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </a>
      </li>
      <li class="sub-section-item" id="section-1-item-5" onclick="showItem(5)">
        <a href="#section-2">
          <img
            src="../images/ecovis_logo.svg"
            alt="ecovis-logo"
            class="item-logo"
          />

          <div class="item-content">
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </a>
      </li>
      <li class="sub-section-item" id="section-1-item-6" onclick="showItem(6)">
        <a href="#section-2">
          <img
            src="../images/ecovis_logo.svg"
            alt="ecovis-logo"
            class="item-logo"
          />

          <div class="item-content">
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </a>
      </li>
      <li class="sub-section-item" id="section-1-item-7" onclick="showItem(7)">
        <a href="#section-2">
          <img
            src="../images/ecovis_logo.svg"
            alt="ecovis-logo"
            class="item-logo"
          />

          <div class="item-content">
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </a>
      </li>
      <li class="sub-section-item" id="section-1-item-8" onclick="showItem(8)">
        <a href="#section-2">
          <img
            src="../images/ecovis_logo.svg"
            alt="ecovis-logo"
            class="item-logo"
          />

          <div class="item-content">
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </a>
      </li>
      <li class="sub-section-item" id="section-1-item-9" onclick="showItem(9)">
        <a href="#section-2">
          <img
            src="../images/ecovis_logo.svg"
            alt="ecovis-logo"
            class="item-logo"
          />

          <div class="item-content">
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
