<%-include("partials/header" , {title: title});-%>
    <title>Ecovis | Xidmətlər</title>
  </head>
  <body>
<%-include("partials/navbar");-%>

  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
<%-include("partials/footer");-%>