<section class="section-3">
  <div class="container-3">
    <div class="s3-top">
      <span>Bizə güvənin</span>
    </div>
    <div class="s3-bottom">
      <div id="partnership">
        <div class="container">
          <div class="customer-logos slider">
            <div class="slide trust-logo-1"></div>
            <div class="slide trust-logo-2"></div>
            <div class="slide trust-logo-3"></div>
            <div class="slide trust-logo-4"></div>
            <div class="slide trust-logo-5"></div>
            <div class="slide trust-logo-6"></div>
            <div class="slide trust-logo-7"></div>
            <div class="slide trust-logo-8"></div>
            <div class="slide trust-logo-9"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
